section#about
  h1 读书笔记
  p.
    读书笔记是基于豆瓣读书笔记开放接口开发的应用<br/>
    支持 Github Flavor Markdown 书写笔记<br/>
    如果遇到 BUG、体验不好的地方，或者希望增加功能<br/>
    欢迎通过以下方式联系反馈

  h2 反馈
  div 阿弟:
    a(href="http://www.douban.com/people/sensitive", target="_blank") 豆瓣
    a(href="mailto:simonday@foxmail.com", target="_blank") 邮件
  div 灭灭:
    a(href="http://www.douban.com/people/houkanshan", target="_blank") 豆瓣

  h2 已知问题
  ul
    li 第三方应用无法读取私密笔记的图片。建议设置带图笔记权限为公开。
    li 豆瓣读书尚未开放收藏接口，因此收藏的内容存储在Chrome云端。在豆瓣开放接口后，应用将更新，统一你的收藏数据。

  h2 使用的开源项目
  ul
    li
      a(href="http://angularjs.org", target="_blank") AngularJS
    li
      a(href="http://codemirror.net", target="_blank") CodeMirror
    li
      a(href="https://github.com/chjj/marked", target="_blank") Marked
    li
      a(href="http://lokeshdhakar.com/projects/color-thief/", target="_blank") Color-thief