section#one-book
  //- h1
    //- a(link="/{{ author.uid }}", ng-show="!author.is_self") < {{ author.name }}的书架
    //- {{ book.title }}
  div.cubic-view
    div.book-cube(color-thief, image="book_cover", ng-model="dominateColor", ng-class="{ 'sided': book_sided }", ng-click="openBook()", ng-mouseleave="closeBook()")
      div.book-front(ng-class="{ 'opened': book_opened }")
        .book-cover-backface(ng-style="{ 'background-color': dominateColor.background }")
        .book-cover-frontface(remote-image="book_cover")
      div.book-page
        div.page-content
          //- a.icon-feather(link="/{{ user.uid }}/book/{{ book.id }}/new")写新笔记
          //- a(ng-click="exportNotes()")导出所有笔记
          p.summary {{ book.summary }}
          a(href="http://book.douban.com/subject/{{ book.id }}/", target="_blank")去豆瓣看这本书
      div.book-back(ng-style="{ 'background-color': dominateColor.background }")
      div.book-top
      div.book-bottom
      div.book-left(ng-style="{ 'background-color': dominateColor.background, 'color': dominateColor.foreground }")
        span.book-title {{ book.title }}
      div.book-right
  section.main
    // p {{ book.summary }}
    header
      .right-actions
        span 共{{ book.notes_count }}篇笔记
        button.button-default.icon-export(ng-click="exportNotes()") 导出
        nav.order.button-group()
          button.button-plain(ng-click="order='time'; reverse=true", ng-class="{'active': (order=='time')}") 最新
          button.button-plain(ng-click="order='page_no'; reverse=false", ng-class="{'active': (order=='page_no')}") 页码
      a.button-primary.icon-feather(link="/{{ user.uid }}/book/{{ book.id }}/new") 
        写新笔记
    ul.notes
      li.note(ng-repeat="note in book.notes | orderBy: order : reverse")
        a.note-mask(link="/note/{{ note.id }}")
          time(datetime="{{ note.time }}") {{ note.time | date: note.time : 'longDate'}}
          h3 {{ note.chapter || ("第" + note.page_no + "页") }}
          p.note-summary {{ note.summary }}
          span.note-page(ng-class="{ 'icon-lock': note.privacy == '1' }") P{{ note.page_no }}

script(type="text/ng-template", id="modalExport.html")
  div.modal-export
    div.modal-header
      h3 选择导出格式
    div.modal-body
      div.buttons-group
        button.button-radio(ng-click="changeExportFormat('markdown')", ng-class="{ 'active': exportFormat == 'markdown' }") Markdown
        button.button-radio(ng-click="changeExportFormat('html')", ng-class="{ 'active': exportFormat == 'html' }") HTML
      div.export-preview
        div.preview-markdown(ng-show="exportFormat == 'markdown'") {{ exports }}
        div.preview-html(ng-show="exportFormat == 'html'")
          previewer(markdown="exports")
    div.modal-footer
      div
        button.icon-evernote(ng-show="user.evernote || user.yinxiang", ng-click="popupEvernote()") 保存到Evernote
      div.buttons-group
        button.button-default(ng-click="cancel()") 取消
        button.button-primary(ng-click="download()") 导出
