ul#navigation
  li
    a.js-edit.icon-feather(href="javascript:;", data-title="编辑", ng-click="changeMode('edit-mode')", ng-class="{ 'active': mode == 'edit-mode' }")
  li
    a.js-preview.icon-eye(href="javascript:;", data-title="预览", ng-click="changeMode('read-mode')", ng-class="{ 'active': mode == 'read-mode' }")
  li
    a.js-columns.icon-columns(href="javascript:;", data-title="编辑+预览", ng-click="changeMode('column-mode')", ng-class="{ 'active': mode == 'column-mode' }")
  li
    a.js-save.icon-save(href="javascript:;", data-title="保存", data-ajax="{{ action }}", ng-click="save()")


div.container(ng-class="mode")
  editor(article="note", images="images")
  reader(article="note", images="images")