section#friends
  h1 友邻的笔记
  ul.friends(infinite-scroll="showMoreFriends()", scroll-elem-sel=".ng-view")
    li.friend(ng-repeat="friend in friends")
      a(link="/{{ friend.uid }}")
        img(remote-image="friend.small_avatar")
        span {{ friend.screen_name }}
    li.friend.more
      a.icon-more(ng-click="showMoreFriends()", ng-show="and_more")
