section#info
  section.statistic
    h1 {{ user.name }}
    div.summary.ui-card.
      从{{ start }}到{{ end }}我一共给<a link="/">{{ total_books }}本书</a>写了{{ total_notes }}篇笔记
      第一篇笔记<a link="/note/{{ start_note.id }}" ng-show="start_note.chapter">{{ start_note.chapter }}</a>来自<a link="/{{ user.uid }}/book/{{ start_book.id }}">{{ start_book.title }}</a>
      其中给<a link="/{{ user.uid }}/book/{{ max_book.id }}">{{ max_book.title }}</a>写了最多笔记，一共{{ max_book.notes_count }}篇
  section.account
    h1 绑定Evernote
    div.ui-card.bind-choice(ng-show="(!evernote_bound) && (!yinxiang_bound)")
      span.icon-evernote
      a(ng-click=" authEvernote('evernote') ")
        span Evernote International
      a(ng-click=" authEvernote('yinxiang') ")
        span 印象笔记
    div.ui-card.unbind(ng-show="evernote_bound", ng-click=" unbind('evernote') ")
      a.icon-evernote.active
        span Evernote International
    div.ui-card.unbind(ng-show="yinxiang_bound", ng-click=" unbind('yinxiang') ")
      a.icon-evernote.active(ng-show="yinxiang_bound")
        span 印象笔记
  section.recent
    h1 最近写过笔记的书
      ul.books
        li.book(ng-repeat="book in recent_books")
          div.cover(remote-image="book.images.large")
            a.book-link(link="/{{ user.uid }}/book/{{ book.id }}")
            a.add-note.icon-pen(link="/{{ user.uid }}/book/{{ book.id }}/new", title="继续写")