extends layout

block content
  header.header(ng-class="{ 'pushed' : asideVisible, 'vanished' : headerInvisible }")
    span.icon-sidebar(ng-click="toggleSidebar()")
  aside(ng-class="{ 'hidden': !asideVisible}")
    div.banner(ng-show="user")
      a.avatar(ng-show="user", ng-style="getUserAvatar()", href="/#/", ng-click="toggleSidebar()")
    ul(ng-show="user")
      li
        a(href="/#/", ng-click="toggleSidebar()") 我的书架
      li(ng-show="lastBook && user")
        a(href="/#/{{ author.uid }}/book/{{ lastBook.id }}") 返回 {{ lastBook.title }}
      li
        a(href="/#/{{ user.uid }}/info") 统计
      li
        a(href="/#/friends") 友邻笔记
      li
        a(href="javascript:;", ng-click="logout()") 登出
    ul(ng-hide="user")
      li
        a(href="/#/login", ng-click="toggleSidebar()") 登录
    ul.info
      li
        a(href="/#/about") 关于 · 反馈
  div.ng-view(ng-class="{ 'pushed' : asideVisible }")
  div.loading(loader)
    div.rect1
    div.rect2
    div.rect3
    div.rect4
    div.rect5
  div.alert(alert)
    
block scripts
  script(src="lib/underscore/underscore.min.js")
  script(src="lib/angular/angular.min.js")
  script(src="lib/angular/angular-route.min.js")
  script(src="lib/angular/angular-cookies.min.js")
  script(src="lib/angular/angular-resource.min.js")
  // script(src="/lib/underscore/underscore.js")
              
  // script(src="/lib/angular/angular.js")
  // script(src="/lib/angular/angular-route.js")
  // script(src="/lib/angular/angular-cookies.js")
              
  script(src="/lib/angular-bootstrap/ui-bootstrap.min.js")
  script(src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js")
              
  // script(src="/lib/codemirror/codemirror.js")
  script(src="/lib/codemirror/codemirror.min.js")
  script(src="/lib/marked/marked.min.js")
  script(src="/lib/color-thief/color-thief.min.js")
              
  script(src="/lib/filesaver/filesaver.min.js")
              
  script(src="/js/app.js")
  script(src="/js/controllers.js")
  script(src="/js/services.js")
  script(src="/js/directives.js")
  script(src="/js/filters.js")
