extends layout

block content
  header.header(ng-class="{ 'pushed' : asideVisible, 'vanished' : headerInvisible }")
    span.icon-sidebar(ng-click="toggleSidebar()")
    //-span.title(ng-bind-html="globalTitle")
    span.title(compile="globalTitle")
  aside.hidden(ng-class="{ 'show': asideVisible }")
    div.banner(ng-show="user")
      a.avatar(ng-show="user", remote-image="user.avatar", link="/", ng-click="toggleSidebar()")
    ul(ng-show="user")
      li
        a(link="/", ng-click="toggleSidebar()") 我的书架
      li(ng-show="lastBook && user")
        a(link="/{{ author.uid }}/book/{{ lastBook.id }}") 返回 {{ lastBook.title }}
      li
        a(link="/{{ user.uid }}/info") 个人
      li
        a(link="/friends") 友邻笔记
      li
        a(link="/fav") 我的收藏
      li
        a(ng-click="logout()") 注销
    ul(ng-hide="user")
      li
        a(link="/login", ng-click="toggleSidebar()") 登录
    ul.info
      li
        a(link="/about") 关于 · 反馈
  div.ng-view(ng-class="{ 'pushed' : asideVisible }")
  div.loading(loader)
    div.rect1
    div.rect2
    div.rect3
    div.rect4
    div.rect5
  div.alert(alert)
  script(type="text/ng-template", id="modalLogout.html")
      div.modal-header
        h3 确定注销？下次登陆将需要重新前往豆瓣授权。
      div.modal-footer.buttons-group
          button.button-default(ng-click="cancel()") 取消
          button.button-warning(ng-click="ok()") 注销
  script(type="text/ng-template", id="modalEvernote.html")
    div.modal-evernote
      div.modal-header
        h3 保存到Evernote/印象笔记
      div.modal-body
        div.row
          label
            input(type="radio", ng-model="choice_notebook", value="exist")
            保存已有笔记本
          select(ng-show="choice_notebook == 'exist'", ng-model="selectedNotebook", ng-options="nb.name for nb in notebooks")
        div.row
          label
            input(type="radio", ng-model="choice_notebook", value="new")
            创建新笔记本
          input(ng-show="choice_notebook == 'new'", type="text", placeholder="输入新笔记本名", ng-model="new_notebook")
      div.modal-footer
        div.status {{ status }}
        div.buttons-group
          button.button-default(ng-click="cancel()") 取消
          button.button-primary(ng-click="ok(choice_notebook, selectedNotebook, new_notebook)") 保存
    
block scripts
  script(src="lib/underscore/underscore.min.js")
  script(src="lib/angular/angular.min.js")
  script(src="lib/angular/angular-route.min.js")
  //- script(src="lib/angular/angular-sanitize.min.js")
  //- script(src="lib/angular/angular-cookies.min.js")
  //- script(src="lib/angular/angular-resource.min.js")
  //- script(src="/lib/underscore/underscore.js")
              
  //- script(src="/lib/angular/angular.js")
  //- script(src="/lib/angular/angular-route.js")
  //- script(src="/lib/angular/angular-cookies.js")
              
  script(src="/lib/angular-bootstrap/ui-bootstrap.min.js")
  script(src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js")
  
  script(src="lib/ng-infinite-scroll/ng-infinite-scroll.min.js")
        
  script(src="/lib/codemirror/codemirror.min.js")
  script(src="/lib/marked/marked.min.js")
  script(src="/lib/color-thief/color-thief.min.js")
  script(src="/lib/evernote/evernote-sdk.min.js")

  script(src="/js/config.min.js")
  script(src="/js/douban-auth.min.js")
  script(src="/js/evernote-auth.min.js")
  script(src="/js/app.min.js")
  script(src="/js/enml.min.js")
  script(src="/js/controllers.min.js")
  script(src="/js/services.min.js")
  script(src="/js/directives.min.js")
  script(src="/js/ui-directives.min.js")
  script(src="/js/filters.min.js")
