doctype
html(ng-app="ANNO", ng-controller="appFrameCtrl", ng-class="globalCSSClass", ng-csp)
  meta(charset="utf-8")
  head
    title 读书笔记
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/codemirror.css')
    link(rel='stylesheet', href='/css/themes/tomorrow.css')
  body
    div#app(ng-class="{ 'pushed': asideVisible }")
      block content
    div.loading(loader)
      div.rect1
      div.rect2
      div.rect3
      div.rect4
      div.rect5
    block scripts
