#info .summary{white-space:pre-wrap;line-height:1.8;}
#info .summary a{color:#20b2aa;text-decoration:none;margin:0 .3em;}
#info .summary a:hover{background:#20b2aa;color:#fff}
#info .books .add-note{font-size:1em}
