#info
  .summary
    white-space pre-wrap
    line-height 1.8
    a
      color lightseagreen
      text-decoration none
      margin 0 .3em
      &:hover
        background lightseagreen
        color #fff
  .books
    .add-note
      font-size 1em