#about
  line-height 1.65
  h1
    font-size 1.8em
  a
    color lightseagreen
    &:hover
      background lightseagreen
      color #fff
  h2 + ul, h2 + div
    padding-left 40px
  h2 + div
    a
      display inline-block
      margin 0 .8em
      text-decoration none