@require "fonticon"
@require 'ui/typography'

body
  & > .meta
    @extends $center

.global_note
  .ng-view
    transform translateY(0)
    padding-top 50px

#one-note
  margin 3em 0
  h1
    @extends $center
  pre
    background #eee
    white-space pre-wrap
  .content
    margin-bottom 40px
    -webkit-user-select text
    user-select text
  .share
    margin-bottom 60px

.meta
  color #aaa
  @extends $center
  span
    margin-left .5em
    &:first-child
      margin-left 0
  a
    text-decoration none
    color lightseagreen
    margin-right .5em
    &:hover
      background lightseagreen
      color #fff

.operate
  position: absolute
  top 0
  right 0
  padding 1em
  margin 0 auto
  padding-left calc(50% \- 300px)
  margin .3em 0 1.2em
  transition opacity .3s, top .5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
  opacity 1
  a
    color #808080
    margin-right 1em
    text-decoration none
      vertical-align: middle
    &:before
      margin-right: 0.3em
    &:hover
      color #111
    &.icon-evernote
      &:hover
        color #48b449
    &.icon-pen
      &:before
        vertical-align: middle
      &:hover
        color #0E90D2
    &.icon-star, &.icon-star-empty
      &:hover
        color #f39c12
    &.icon-delete
      &:before
        vertical-align middle
      &:hover
        color #DD514C
  &.hide
    top -2em
    opacity 0
