div#editor
  form(name="editorForm", novalidate)
    span.book-title(ng-show="article.book") {{ article.book.title }}:
    input#title(type="text", placeholder="笔记标题", ng-model="article.chapter")
    span#page
      label 页码:
        input#page_no(type="number", name="page_no", placeholder="填写 页码 或 章节最后一页", ng-model="article.page_no", min="0", max="50000")
    label
      input(type="radio", name="privacy", value="public", ng-model="article.privacy")
      公开
    label
      input(type="radio", name="privacy", value="private", ng-model="article.privacy")
      隐藏
    ul.toolbar
      li.icon-bold(ng-click="bold()")
      li.icon-italic(ng-click="italic()")
      li.icon-image.js-insert-image
        input#upload(type="file", multiple, filereader)
        input#last_photo(type="hidden", value="{{ article.last_photo || 0 }}")
      li.icon-left-quote(ng-click="quote()")
      // li.icon-link
      li.icon-help(ng-click="toggleEditorHelp()")
    codemirror(ng-model="article.content", onload="codeMirrorLoad")