transform()
  -webkit-transform arguments
  -moz-transform arguments
  transform arguments

transform-origin()
  -webkit-transform-origin arguments
  -moz-transform-origin arguments
  transform-origin arguments

transform-style()
  -webkit-transform-style arguments
  -moz-transform-style arguments
  transform-style arguments

perspective()
  -webkit-perspective arguments
  -moz-perspective arguments
  perspective arguments

perspective-origin()
  -webkit-perspective-origin arguments
  -moz-perspective-origin arguments
  perspective-origin arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  transition arguments
  
transition-transform()
  -webkit-transition -webkit-transform arguments
  -moz-transition -moz-transform arguments
  transition transform arguments

backface-visibility()
  -webkit-backface-visibility arguments
  -moz-backface-visibility arguments
  backface-visibility arguments
  