/* ------------------------------------------
  CodeMirror
---------------------------------------------*/
.CodeMirror {
  font-family:Menlo, monospace;
  font-size:13px;
  line-height:1.4em;
  -webkit-font-smoothing:subpixel-antialiased;
  }
.code .CodeMirror-scroll {
  min-height:360px;
  }
  .markdown .CodeMirror {
    font-size:14px;
    line-height:1.75em
    }

.CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow: auto;
  }

/* PADDING */
.CodeMirror-scrollbar-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding:0 3px 0 5px;
  min-width:20px;
  text-align:right;
  color:#d4d7d9;
  }
.cm-s-prose-bright .CodeMirror-gutter {
  border-right:1px solid #eff3f5;
  padding-right:5px;
  margin-right:15px;
  min-width:2.5em;
  }

/* CURSOR */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #3D494E;
  z-index: 3;
  }
.cm-s-prose-bright .CodeMirror-cursor { border-left: 2px solid #667880; }
.cm-s-prose-bright .CodeMirror-lines { margin:0; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid #e0e7eb;
  }
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #90bb74;
  z-index: 1;
}
/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror div.CodeMirror-cursor.CodeMirror-overwrite {}
.cm-tab { display: inline-block; }

/* Prose Bright Theme
 -------------------- */
/* Dark Grey */
.cm-s-prose-bright                    { color:#3D494E; }
.cm-s-prose-bright span.cm-header     { color:#3D494E; font-weight:bold;}
.cm-s-prose-bright span.cm-variable-2 { color:#3D494E; }

/* Medium Grey */
.cm-s-prose-bright span.cm-meta       { color:#516066; }
.cm-s-prose-bright span.cm-hr         { color:#516066;}

/* Lighter Grey */
.cm-s-prose-bright span.cm-comment    { color:#868f93; }
.cm-s-prose-bright span.cm-qualifier  { color:#868f93; }

/* Dark Blue/Green */
.cm-s-prose-bright span.cm-number     { color:#197987; }
.cm-s-prose-bright span.cm-variable   { color:#197987; }
.cm-s-prose-bright span.cm-builtin    { color:#197987; }
.cm-s-prose-bright span.cm-link       { color:#197987; text-decoration:underline;}
.cm-s-prose-bright span.cm-tag        { color:#197987; }

/* Medium Blue/Green */
.cm-s-prose-bright span.cm-string     { color:#48abb9; }
.cm-s-prose-bright span.cm-string-2   { color:#48abb9; }
.cm-s-prose-bright span.cm-quote      { color:#48abb9;}
.cm-s-prose-bright span.cm-atom       { color:#48abb9; }

/* Light Blue/Green */
/*.cm-s-prose-bright .CodeMirror-selected { background:#90d5df; }*/

/* Turtle Green */
.cm-s-prose-bright span.cm-property   { color:#82a367; }
.cm-s-prose-bright span.cm-operator   { color:#82a367; }
.cm-s-prose-bright span.cm-variable-3 { color:#82a367; }

/* Light Turtle Green */
.cm-s-prose-bright span.cm-attribute  { color:#90bb74; }
.cm-s-prose-bright span.cm-def        { color:#90bb74; }

/* Brick */
.cm-s-prose-bright span.cm-keyword    { color:#ec6c45; }
.cm-s-prose-bright span.cm-bracket    { color:#ec6c45; }

/* Darker Brick */
.cm-s-prose-bright span.cm-error      { color:#e45346; }

.cm-s-prose-bright span.cm-em         { font-style:italic; }
.cm-s-prose-bright span.cm-strong     { font-weight:bold; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  /*line-height: 1;*/
  position:relative;
  overflow:hidden;
  /* background:white; */
  color:#516066;
}

.CodeMirror-scroll {
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px; padding-right: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
  z-index: 6;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  height: 100%;
  padding-bottom: 30px;
  z-index: 3;
}
.CodeMirror-gutter {
  height: 100%;
  padding-bottom: 30px;
  margin-bottom: -32px;
  display: inline-block;
  /* Hack to make IE7 behave */
  *zoom:1;
  *display:inline;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.CodeMirror-lines {
  cursor: text;
}
.CodeMirror pre {
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  z-index: 2;
  position: relative;
  overflow: visible;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}
.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {
  display: inline-block;
}

.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%; height: 0px;
  overflow: hidden;
  visibility: hidden;
}
.CodeMirror-measure pre { position: static; }

.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  visibility: hidden;
  border-right: none;
  width: 0;
}
.CodeMirror-focused div.CodeMirror-cursor {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span { *vertical-align: text-bottom; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursor {
    visibility: hidden;
  }
}

