.book{display:inline-block;vertical-align:top;}
.book .cover{position:relative;min-width:120px;height:160px;overflow:hidden;background-size:cover;background-position:center;box-shadow:0 2px 3px #ddd;position:relative;}
.book .cover a{text-decoration:initial}
.book .cover .book-link{min-width:120px;height:160px;display:inline-block;box-shadow:inset 0 0 1px #000;position:relative;background-color:transparent;-webkit-transition:background-color .3s;-moz-transition:background-color .3s;transition:background-color .3s}
.book .cover:hover .book-link{background-color:rgba(0,0,0,0.65)}
.book .cover:hover .add-note{display:block;bottom:.5em}
.book .cover:hover .notes-count{top:1em}
.book .title,.book .author{display:block;width:120px;margin-top:.3em}
.book .title{font-weight:bold}
.book .author{font-size:.9em;color:#ccc}
.book .add-note{border:3px solid #fff;color:#fff;width:1.8em;height:1.8em;font-size:1.5em;text-align:center;line-height:1.6em;border-radius:1em;position:absolute;z-index:2;bottom:-3em;right:.5em;-webkit-transition:bottom .5s;-moz-transition:bottom .5s;transition:bottom .5s;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);transform:translateZ(0);}
.book .add-note:hover{background:#fff;color:#111}
.book .notes-count{position:absolute;z-index:2;color:#fff;top:-2em;display:block;width:100%;text-align:center;-webkit-transition:top .5s;-moz-transition:top .5s;transition:top .5s;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);transform:translateZ(0);pointer-events:none}
.book.empty .cover{box-shadow:initial;border:3px dashed #ccc;box-sizing:border-box;cursor:pointer;}
.book.empty .cover:before{background:transparent}
.book.empty .cover:after{content:"+";color:#bbb;font-size:3em;position:absolute;top:0;right:0;bottom:0;left:0;text-align:center;line-height:153px}
.book.empty .cover:hover{border-color:#aaa;}
.book.empty .cover:hover:after{color:#999}
