.spinner{margin:100px auto 0;width:70px;text-align:center}
.spinner > div{width:18px;height:18px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}
.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}
@-moz-keyframes bouncedelay{0%,80%,100%{transform:scale(0);-webkit-transform:scale(0)}
40%{transform:scale(1);-webkit-transform:scale(1)}
}@-webkit-keyframes bouncedelay{0%,80%,100%{transform:scale(0);-webkit-transform:scale(0)}
40%{transform:scale(1);-webkit-transform:scale(1)}
}@-o-keyframes bouncedelay{0%,80%,100%{transform:scale(0);-webkit-transform:scale(0)}
40%{transform:scale(1);-webkit-transform:scale(1)}
}@-ms-keyframes bouncedelay{0%,80%,100%{transform:scale(0);-webkit-transform:scale(0)}
40%{transform:scale(1);-webkit-transform:scale(1)}
}@keyframes bouncedelay{0%,80%,100%{transform:scale(0);-webkit-transform:scale(0)}
40%{transform:scale(1);-webkit-transform:scale(1)}
}